@charset "UTF-8";

/* ===============================================
Base
=============================================== */

/*
  Reset
----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Default Style
----------------------------------------------- */

body {
  font-family:  '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic','ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','Meiryo UI', 'メイリオ', Meiryo, sans-serif;
  color: #74331d;
  background-color: #f7f0db;
}


img {
  vertical-align: bottom;
  max-width: 100%;
}

.img_title {
  width: 50%;
}

a {
  text-decoration: none;
  color: #74331d;
}

section {
  margin-top: 80px;
}



section:first-of-type {
  margin-top: 0px;
}



h1, h2, h3, h4, p,ul {
  text-align: center;
  font-weight: bold;
  display:block;
  line-height: 2.5;
  letter-spacing: .2rem;
}

h1 {
  line-height: 1.8;
  font-size: .8rem;
  letter-spacing: 1.5px;
}


.small {
  font-size: .5rem;
}

footer a {
  color:#ffffff;

}

.parallax-bg:before {
  content:"";
  display:block; 
  /* 擬似要素はデフォルトでinlineだから、block化する。 */
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width: 100%;  
}

.parallax-bg {
  background-image: url('images/photo_coffee.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  padding: 20%;
}

@media screen and (max-width:960px) {
  .parallax-bg {
  background-image: url('images/photo_coffee_sp.png');
  padding: 40%;

  }
}

/* ===============================================
Layout
=============================================== */

/*
  Centering
----------------------------------------------- */

.container {
  width: 95%;
  margin:0 auto;
}

@media screen and (min-width:961px){
  .container {
    width: 960px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center; 
  }
}

/*
  Opening Animation
----------------------------------------------- */

.start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p,.start figure {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 800px;
	font-size: 1rem;
	font-weight: bold;
	line-height: 5rem;
	letter-spacing: 2px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}


@media screen and (max-width:960px){
  .start p {
  font-size: .8rem;
  }
}

/*
  Header
----------------------------------------------- */



header {
  padding-top: 13px;
  background-color: rgba(232, 219,56);
  position:relative;
  letter-spacing: .1rem;
  margin: 0 auto;
}

@media screen and (min-width:761px){
  header {
    padding-top: 18px;
  }
}

header h1 {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: .75rem;
  margin-left:1rem;
}

@media screen and (min-width:961px){
  header h1 {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
  }
  
  h1{
    display:inline-block;
  }
}



.roof{
  position: absolute;
  top:24%;
  width:50%;
  height:85px;
  z-index: -1;
}

@media screen and (min-width:961px){
.roof {
  top:42%;
}
}

.roof1 {
  left:0;
	background:linear-gradient(to bottom left, transparent 50%, rgba(232, 219,56) 50%) top left/ 100% 50% no-repeat,
  linear-gradient(to top left, transparent 50%, rgba(232, 219,56)50%) bottom left / 100% 50% no-repeat;
}

.roof2{
  right:0;
	background:linear-gradient(to bottom right, transparent 50%, rgba(232, 219,56) 50%) top left/ 100% 50% no-repeat,
  linear-gradient(to top right, transparent 50%, rgba(232, 219,56)50%) bottom left / 100% 50% no-repeat;
}


/*
  Drawer
----------------------------------------------- */

#globalMenuSp.active {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

.drawer_checkbox {
  display: none;
}

.drawer_icon {
  display: block;
  width: 60px;
  height: 60px;
  background-color: rgba(232, 219,56,80%);
  border-radius: 10px;
  position: fixed;
  top: 10px;
  right: 2%;
  cursor: pointer;
  z-index: 20;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.drawer_icon_item, .drawer_icon_item::before, .drawer_icon_item::after {
  background-color: #74331d;
  display: block;
  width: 26px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.drawer_icon_item::before {
  content: '';
  top: 16px;       
}

.drawer_icon_item::after {
  content: '';
  top: -16px;       
}

/* 暗い背景 */
.drawer_overlay {
  background: #333;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.drawer_checkbox:checked ~ .drawer_overlay {
  opacity: 0.3;
  pointer-events: auto;
}

.drawer_checkbox:checked ~ .drawer_menu {
  right: 0;
}


/* ハンバーガーが×に変わる */
.drawer_checkbox:checked ~ .drawer_icon .drawer_icon_item {
  background: transparent;
}

.drawer_checkbox:checked ~ .drawer_icon .drawer_icon_item::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}

.drawer_checkbox:checked ~ .drawer_icon .drawer_icon_item::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

/* 全体の動く速度 */
.drawer_icon_item,
.drawer_icon_item:after,
.drawer_icon_item:before,
.drawer_overlay,
.drawer_menu {
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

/* ドロワー中身の見た目 */
.drawer_menu {
  text-align: center;
  background-color: #fff;
  max-width: 100%;
  width: 320px;
  height: 100vh;
  position: fixed;
  top:0;
  right: -320px;
  z-index: 15;
  background-repeat: no-repeat;
  background-position: bottom;
}

.drawer_menu ul {
  margin-top: 25%;
}

.drawer_menu ul li {
  font-size: 18px;
  padding-bottom: 36px;
}

.drawer_menu ul li a {
  text-decoration: none;
  color: #74331d;
  font-size: 1rem;
}

.drawer_menu img {
  margin-top: 40px;
  width: 50px;
}

.drawer_menu span {
  display: block;
  font-size: 16px;
}




/*
  Main
----------------------------------------------- */
main {
  clear: both;
}

.hero {
  margin: 0 auto;
  position: relative;
  
}

.hero_msg {
  position:relative;
  margin: 0 auto 16px;
}

.hero_msg p{
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .2rem;
  margin: 4rem 0 0;
  line-height: 2;
}


@media screen and (min-width:761px){
  .hero_msg p{
    font-size: 2rem;
    line-height: 1.8;
  }
}

@media screen and (min-width:961px){
  .hero_msg{
    margin-top: 120px;
    width: 960px;
  }

  .hero_msg p{
    position: absolute;
    left:45%;
    top: 300px;
    text-align: left;
    font-size: 45px;
    line-height: 1.5;
    width: 600px;
  }

  .img_leaf {
    width: 15rem;
  }
}

.img_leaf {
  width: 7rem;
  position:absolute;
  top: -10%;
  left:0%;
  transform: scale(-1,1);
  -webkit-transform: scale(-1,1);
  -moz-transform: scale(-1,1);
  -ms-transform: scale(-1,1);
  -o-transform: scale(-1,1);
}


.fukidashi{
  position:absolute;
  top:150px;
  left:45%;
  display:block;
  width: 50%;
  height: 60px;
  background-image: url("images/fukidashi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin:20px auto 10px;
}
/* SP*/
  @media  screen and (min-width:761px) {
    .fukidashi{
    top:180px;
    }
  } 

.fukidashi_pc {
  position:absolute;
  top:24%;
  right:-18%;
 }

.fukidashi p {
  display:block;
  width: 10rem;
  font-size: .8rem;
  letter-spacing: .1rem;
  position: absolute;
  top:16%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.img_shop {
  margin: 4rem auto 1rem;
  width: 100%;
  height: auto;
}

.img_shop_sp {
  margin-top:120px;
}

.img_coffee1, .img_coffee2 {
  transform: scale(-1,1);
  -webkit-transform: scale(-1,1);
  -moz-transform: scale(-1,1);
  -ms-transform: scale(-1,1);
  -o-transform: scale(-1,1);
}

.em {
  font-size: .9rem;
  padding-top: 2px;
  padding-bottom: 4px;
  border-bottom: 1px dashed;

}

.hours p {
  font-size: .8rem;
}

.top_address p{
  display:inline;
  text-align: left;
  line-height: 1.8;
}

.foot_sp {
  position: absolute;
  right:-13%;
  top:-20%;
  transform: scale(.5, .5) rotate(0deg);
  -webkit-transform: scale(.5, .5) rotate(0deg);
  -moz-transform: scale(.5, .5) rotate(0deg);
  -ms-transform: scale(.5, .5) rotate(0deg);
  -o-transform: scale(.5, .5) rotate(0deg);
}

.foot_pc {
  position:absolute;
  right:8%;
  top:90%;
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
}

.hero_time {
  position: relative;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  margin: 0 auto;
}

.hero_time > div:nth-child(even)  {
  align-self: flex-end;
}

.hours_open {
  text-align: center;
  vertical-align: middle;
  background-image: url(images/coffemark.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 12rem;
  height: 12rem;
  position: relative;
}

.hours_open p {
  display:block;
  width: 90%;
  text-align: center;
  line-height: 2.5;
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translate(-90%, -50%);
  -webkit-transform: translate(-90%, -50%);
  -moz-transform: translate(-90%, -50%);
  -ms-transform: translate(-90%, -50%);
  -o-transform: translate(-90%, -50%);
}

 .hours_closed {
   text-align: center;
   vertical-align: middle;
   background-image: url(images/coffeemark2.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 11rem;
   height: 11rem;
   position:relative;
}

.hours_closed p {
  display:block;
  width: 100%;
  text-align: center;
  line-height: 2.5;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-55%, -50%);
  -webkit-transform: translate(-55%, -50%);
  -moz-transform: translate(-55%, -50%);
  -ms-transform: translate(-55%, -50%);
  -o-transform: translate(-55%, -50%);
} 


.img_coffee_icon_pc {
  width: 60%;
}

@media screen and (min-width:1024px){
  .hero_msg p{
    font-size: 48px;
    left: 41%;
  }
}

/*
  Message
----------------------------------------------- */
#message  {
 margin-top: 6.5rem;
 color:#fff;
 height: 670px;
 background-image: url(images/sp_bg_message.png);
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}

@media screen and (min-width:761px){
  #message{
  background-image: url(images/bg_footer.png);
  background-size: fill;
  height: 750px;
  }
  #message h2{
  width: 400px;
  }  
}

@media screen and (min-width:961px){
  #message{
    height: 960px; 
  }
}

.message_box {
  position:relative;
}

/* スマホ用アイコン */
.img_coffee_icon {
  width: 240px;
  position:absolute;
  top: -26%;
  left: 5%;
}

.message_textbox {
  margin-top:2.5rem;
  color:#74331d;
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (min-width:961px){
  .img_coffee_icon_pc {
    position:absolute;
    top:220px;
    left: 59%;
    width: 320px;
  }

  .message_textbox {
    margin-top:5rem;
  }

  #message h2 {
    padding-top: 9.5rem;
  }

  .message_textbox {
    margin-top:5rem;
  }
}


@media screen and (max-width:960px){
  #message h2 {
    padding-top: 6rem;
  }
}

#message h2 img {
  width: 72%;
}

.message_textbox p, .osusume_box p {
  font-weight: normal;
  line-height: 3;
  letter-spacing: 1px;
}

.bold {
  font-weight: bold;
}

.message_textbox p {
  padding: 1.5rem 0;
}
.osusume_box p {
  padding: 1rem 0;
}

.under  {
  background: linear-gradient(transparent 0%, 0%,rgba(232, 219,56,0.8));  padding: 0 1px;
  letter-spacing: 3.3px;
}

@media screen and (max-width:960px){
  .message_textbox p, .osusume_box p {
  font-size: .75rem;
  line-height: 2.5;
  }

  .under  {
    font-size: 13px;
  }
}

@media screen and (min-width:761px){
  .under {
    font-size: 1.05rem;
  }
}


/*
  Coffee Menu
----------------------------------------------- */
#coffee_menu {
  position:relative;
  margin-top:4rem;
}


#coffee_menu .illust_coffee {
  width: 15rem;
  float:right;
  position:absolute;
  top:2rem;
  right:0;
  z-index: 4;
  margin-right: 150px;
}

.img_coffee_menu{
  width: 160px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}

#coffee_menu h2 {
  margin-bottom: 2rem;
}

#coffee_menu h2 img {
  width: 40%;
}

@media screen and (max-width:960px){
  .img_coffee_menu{
    width: 90px;
  }  

  #coffee_menu .illust_coffee {
    width: 30%;
    float:right;
    position:absolute;
    top:4rem;
    right:0;
    margin-right: 0px;
  }
}

@media screen and (max-width:760px){
  #coffee_menu h2 img {
    width: 72%;
  }
}

.osusume_box {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;  
}

.slider-content {
  height: 37rem;
  /* height:640px */
  position:relative;
  border-radius: 10px;
}

.slider-1 {
  background-color: #a67762;
}

.slider-1:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  border-bottom:5em solid transparent;
  border-left: 5em solid rgba(255, 255,255,0.5);
}

.slider-1:after {
  content:"中煎り";
  position:absolute;
  top:3%;
  left:1%;
  color: #74331d;
  transform: rotate(-45deg);
  z-index: 1;
  font-weight: bold;
  font-size: .8rem;
}

.slider-2 {
  background-color: #b3c69e;
}

.slider-2:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  border-bottom:5em solid transparent;
  border-left: 5em solid rgba(255, 255,255,0.5);
}

.slider-2:after {
  content:"深煎り";
  position:absolute;
  top:3%;
  left:1%;
  color: #74331d;
  transform: rotate(-45deg);
  z-index: 1;
  font-weight: bold;
  font-size: .8rem;
}

.slider-3 {
  background-color: #99bdc1;
  position: relative;
}

.slider-3:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  border-bottom:5em solid transparent;
  border-left: 5em solid rgba(255, 255,255,0.5);
}

.slider-3:after {
  content:"深煎り";
  position:absolute;
  top:3%;
  left:1%;
  color: #74331d;
  transform: rotate(-45deg);
  z-index: 1;
  font-weight: bold;
  font-size: .8rem;
}

.osusume_box h3 {
  margin-top: 32px;
}

.osusume_box p {
  color:#fff;
}

#coffee_menu a , .modal_btn{
  font-size: 13px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: .5rem ;
  color:#74331d;
  font-weight: bold;  
}

#coffee_menu a　{
margin-bottom: 240px;
}

#coffee_menu a:hover, .modal_btn:hover {
  opacity: .7;
} 

.line {
  display:flex;
  justify-content: center;
  align-items: center;
}

.line::before,
.line::after {
  content:'';
  width: 30px;
  height: 2px;
  background-color: rgba(255, 255,255,0.5);
  margin: 0 16px;
}

.line::before {
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}
.line::after {
  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
}

.text_btn, .modal_btn{
  background-color: rgba(255, 255,255,0.5);
  /* padding: .2rem .2rem; */
  margin: 1rem auto;
  width: 14rem;
  border-radius: 10px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.more_btn {
  margin-top: 4rem;
}

.img_coffee {
  height:240px;
  width: auto;
  margin: 3rem auto 0;
  display:block;
}

.modal_content {
 display: none;
 padding: 1rem 0;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 z-index: 30; 
 /* ヘッダーより上に */
 font-weight: bold;
 font-size: .75rem;
}

h4 {
  display: block;
  padding: 0rem;
  margin-bottom: 16px;
  border: solid #74331d 1px;
}

.taste_box {
  position:relative;
}

.modal__content img {
  width: 40%;
  margin: 20px 0;
}

.taste_box ul {
  margin-bottom: 18px;
}

.taste_box li {
  position:absolute;
  white-space: nowrap;
}

.li_1 {
  top:-25;
  left: 50%;
  transform: translate(-50%, -25%);
  -webkit-transform: translate(-50%, -25%);
  -moz-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  -o-transform: translate(-50%, -25%);
}

.li_2 {
  left: 85%;
  top: 30%;
  transform: translate(-85%, 30%);
  -webkit-transform: translate(-85%, 30%);
  -moz-transform: translate(-85%, 30%);
  -ms-transform: translate(-85%, 30%);
  -o-transform: translate(-85%, 30%);
}

.li_3 {
  left: 80%;
  top: 95%;
  transform: translate(-80%, -95%);
  -webkit-transform: translate(-80%, -95%);
  -moz-transform: translate(-80%, -95%);
  -ms-transform: translate(-80%, -95%);
  -o-transform: translate(-80%, -95%);
}

.li_4 {
  left: 25%;
  top: 95%;
  transform: translate(-25%, -95%);
  -webkit-transform: translate(-25%, -95%);
  -moz-transform: translate(-25%, -95%);
  -ms-transform: translate(-25%, -95%);
  -o-transform: translate(-25%, -95%);
}

.li_5 {
  left: 25%;
  top: 30%;
  transform: translate(-85%, 30%);
  -webkit-transform: translate(-85%, 30%);
  -moz-transform: translate(-85%, 30%);
  -ms-transform: translate(-85%, 30%);
  -o-transform: translate(-85%, 30%);
}

.modal_btn {
  cursor: pointer;
  position: relative;
}

.modal_btn:after {
  content:"";
  position: absolute;
  top:100%;
  transform: translate(-50%, 0);
  left:50%;
  border: 8px solid transparent;
  border-top:8px solid;
  color: rgba(255, 255,255,0.5)
}

.modal_btn p{
  color:#74331d ;
  font-size: .8rem;
  padding: .5rem;
  line-height: 1.5;
}

.modal_btn:hover {
  color: #fff;
  transition:color .3s;
}

.modal_content p {
  color:#74331d;
  font-size: .75rem;
  line-height: 1.75;
  margin-bottom: 24px;
}

.modal_content table {
  font-size: .7rem;
}

.modal_content td {
  font-weight: normal;
  text-align: left;
  padding: 1rem 0 0 .5rem;
}

#coffee_menu .close_btn_x {
    position: absolute;
    right: 0%;
    top: 0%;
    font-weight: bold;
    padding:0;
}

/* モーダル ここまで */
@media screen and  (max-width:960px){
  .slider-content {
    height: 32rem;
  }

  .taste_box li {
    font-size: .5rem;
  }
}

/*
  Funniki
----------------------------------------------- */
.funniki_wrapper {
  margin-top: 160px;
  max-width: 880px;
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
  
  .funniki_wrapper > div:nth-child(even) {
    align-self: flex-end;
  }


.funniki_wrapper img {
  width: 19rem;
}

#funniki .funniki_1{
  width: 24rem;
}

.funniki_3{
  margin-top: -70px;
  margin-bottom: 120px;
  margin-left: 100px;
}


#funniki .funniki_5{
  width:32rem;
  margin-top: 90px;
}

.funniki_p {
  text-align: center;
  margin-top: -60px;
}

.funniki_p img {
  width: 8rem;
  margin-top: 1rem;
}

#funniki .funniki_foot1 {
  position: absolute;
  top:2%;
  right:10%;
  width: 12rem;
  transform: scale(-1,1) rotate(8deg);
  -webkit-transform: scale(-1,1) rotate(8deg);
  -moz-transform: scale(-1,1) rotate(8deg);
  -ms-transform: scale(-1,1) rotate(8deg);
  -o-transform: scale(-1,1) rotate(8deg);
}

#funniki .funniki_foot2 {
  position: absolute;
  top:90%;
  right:0%;
  width: 12rem;
}

 @media screen and (max-width:960px){  

  .funniki_wrapper {
    margin-top: 240px;
    max-width: 600px;
  }

  #funniki .funniki_foot1 {
    width: 9rem;
    position: absolute;
    top:-11%;
  }

  #funniki .funniki_foot2 {
    width: 9rem;
  }

  .funniki_wrapper img {
    width: 15rem;
    margin-bottom: 2rem;
  }

  .funniki_3{
    width: 12rem;
   margin: 0;
  }

  .funniki_p {
    margin: 40px 0;
    font-size: .85rem;;
    align-self: center !important;
  }

  .funniki_p img {
    width: 4rem;
    margin-top: 1rem;
  }

  #funniki .funniki_5{
    margin-top: 0;
  }
 
}



/*
  Footer
----------------------------------------------- */
footer {
  position:relative;
}

#info {
  margin: 8rem 0;
}

.footer_address {
  margin: 1rem;
}

.footer_address p{
  display: inline;
  font-weight: normal;
  text-align: left;
  margin: 0 auto;
}

.googlemap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

  .googlemap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  filter: grayscale(.4);
  opacity: 0.9;
  vertical-align: bottom;
  transition: all 0.3s;
  -webkit-filter: grayscale(.4);
}

.googlemap iframe:hover{
  filter: none;
  opacity: 1;
}

@media screen and (min-width:761px){
  .lh {
    line-height: 1.5;
  }

  .info_wrapper {
    display: flex;
    margin-top:2rem;
  }

  .info_item {
    justify-content: space-between;
    width: 50%;
    margin-left: 32px;
  } 

  .footer_message{
    display: none;
  }
}

  
.l-footer {
  background-image: url(images/bg_footer.png);
  background-repeat: no-repeat;
  background-position: center center 0;
  background-size: cover;
  width:100%;
  height: 160px;
  z-index: 5;
  position:relative;
  margin-top:3rem;
  text-align: center;
}

@media screen and (max-width:760px){
  .l-footer{
    margin-top:40px;
  }

  .footer_message{
    position:absolute;
    top: -32%;
    left: -12%;
  }

  .footer_pc_message {
    display: none;
  }

  .footer_address {
    text-align: center;
  } 
}





/* 画像文字 */

.footer_wrapper {
  text-align: center;
}

.footer_pc_message {
  position: absolute;
  right:10%;
  bottom:70%;
}

/* スマホ用small */
footer small{
  color: #fff;
  position:absolute;
  top:90%;
  left:50%;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
  font-size: .5rem;
  margin: 0 auto;
}


/* 960px以下に適用されるCSS */
@media screen and (max-width:960px){
  .nav_pc{
    display:none;
  }

  .l-footer{
    background-size: 100% auto;
  }

  .top_address, .pc {
    display:none;
  }
}

/* 961px以上に適用されるCSS */

@media screen and (min-width:961px){
  .drawer {
    display: none;
  }

  .nav_pc{
    float: right;
  }

  nav li{
    float: left;
    margin-right: 3rem;
    font-size: 14px;
  }

  nav a {
    position:relative;
    display:inline-block;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
  }

  nav a::after {
    position:absolute;
    bottom:0;
    left:0;
    content:"";
    width: 0%;
    height: 1.8px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    background-color: #fff;
  }

  nav a:hover  {
    color: #fff;
    transition:color .3s;
    -webkit-transition:color .3s;
    -moz-transition:color .3s;
    -ms-transition:color .3s;
    -o-transition:color .3s;
  }

   nav a:hover::after {
    width: 100%;
  }

  nav li:last-of-type{
    margin-right: 0;
  }


  .br_sp, .sp {
    display:none;
  }

}

@media screen and (min-width:761px){
  .l-footer {
    height: 240px;
  }
}

/*
  Accessibility
----------------------------------------------- */
.screen_reader_text {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}


/*
  モーダル修正
----------------------------------------------- */
.content{
  margin: 0 auto;
}

.modal{
  display: none;
  height: 100vh;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%); 
}

@media screen and (max-width:960px){
  
  .close_btn_x {
    right: 0px;
  }

  .osusume_box{
  height: auto;
  }
}

@media screen and (max-width:760px){
  .modal__content {
    width: 80%;
    padding: 20px;
    height: 560px;
  }
}

/*
  Accessibility
----------------------------------------------- */
.screen_reader_text {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
